node_modules/
.run
.gitignore
.github
.dev
config.toml
.goreleaser.yml
Dockerfile
ci.Dockerfile
docker-compose.yml
README.md
bin
config
test
web/*
!web/public
!web/src
!web/dist*
!web/package.json
!web/yarn.lock
!web/.yarnrc.yml
!web/.yarn/releases
!web/.eslintrc.js
!web/postcss.config.js
!web/tailwind.config.js
!web/tsconfig.json
