node_modules/
.run
.gitignore
.github
.dev
dev/
config.toml
.goreleaser.yml
Dockerfile
ci.Dockerfile
docker-compose.yml
README.md
CODE_OF_CONDUCT.md
bin
config
test
#web/*
#!web/public
#!web/src
#!web/dist*
#!web/package.json
#!web/yarn.lock
#!web/.yarnrc.yml
#!web/.yarn/releases
#!web/.eslintrc.cjs
#!web/postcss.config.cts
#!web/tailwind.config.ts
#!web/tsconfig.json
#!web/index.html
#!web/vite.config.ts
#!web/build.go
